

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("./img/body1.png");
  background-size: cover;
}

.intro__inner {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.intro__title {
  color: #cd6326;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-left: -200px;
}

.text {
  width: 37%;
  margin-top: 40px;
  margin-left: -200px;
}

.intro__title__text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.button1 {
  width: 10rem;
  background-color: #cd6326;
  border-radius: 5px;
  border: none;
  height: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
}

.button1:hover {
  background-color: #e39128;
  cursor: pointer;
}

.button1:active,
.button1:focus {
  outline: none;
}

.button1:active {
  background-color: #8f5613;
  border: none;
  outline: none;
}

.header {
  width: 100%;
  padding-top: 10px;
  position: absolute;
}

.header__logopic {
  margin-top: 30px;
  margin-left: 100px;
  float: left;
  text-align: center;
}

